html,
body {
  height: 100%;
}

body {
  -webkit-animation: background 10s ease-in-out infinite;
  animation: background 10s ease-in-out infinite; 
}

.text-align-center {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center
}

.logo {
  width: 300px;
}

input {
  text-align: center;
}

.input {
  width: 300px;
}

button {
  width: 180px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li{
  color: #000;
}

.room h2 {
  padding-top: 20px;
  font-size: 60px;
}

.room li {
  font-size: 32px;
}

.game {
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.elements {
  position: fixed;
  top: 40px;
  right: 40px;
}

.clear-button {
  top: 40px;
  width: 60px;
  right: 0px;
  position: absolute;
  height: 60px;
  border-radius: 50%;
  background-color: gold;
  border: 0;
  display: block;
}

.send-button {
  top: 120px;
  background-color: #9f9;
}

@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}